Repository Ifsttar/NoiseModelling, pull requests merged in 2021-02, with the labels that each got.

#294 Add WPS block to simplify geometries in the selected table
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Geometric_Tools/Simplify_Geometries.groovy
Labels: WPS scripts

#295 Matsim integration
  Docs/Matsim_Tutorial.rst
  Docs/images/matsim/activities_table.png
  Docs/images/matsim/activity_receivers_table.png
  Docs/images/matsim/buildings_table.png
  Docs/images/matsim/import_activities_wps.png
  Docs/images/matsim/lday_geom_table.png
  Docs/images/matsim/noise_from_source_wps.png
  Docs/images/matsim/noise_map_wps.png
  Docs/images/matsim/osm_pbf_wps.png
  Docs/images/matsim/receiver_activities_wps.png
  Docs/images/matsim/results_10h_qgis.png
  Docs/images/matsim/results_export_wps.png
  Docs/images/matsim/roads_table.png
  Docs/images/matsim/symbology_results_qgis.png
  Docs/images/matsim/traffic_events_wps.png
  Docs/images/matsim/zerodb_source_wps.png
  Docs/index.rst
  wps_scripts/.gitignore
  wps_scripts/build.gradle
  wps_scripts/hs_err_pid27196.log
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental/Noise_Map_Difference.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Agent_Exposure.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Import_Activities.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Noise_From_Attenuation_Matrix.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Plot_Exposition_Distribution.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Receivers_From_Activities_Closest.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Receivers_From_Activities_Random.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Sources_From_TimeString.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Experimental_Matsim/Traffic_From_Events.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Geometric_Tools/ZerodB_Source_From_Roads.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Import_and_Export/Osm_Pbf_to_Buildings.groovy
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Receivers/Building_Grid.groovy
Labels: WPS scripts, enhancement

#305 Added option to remove roads with tag tunnel=yes from imported OSM data
  wps_scripts/src/main/groovy/org/noise_planet/noisemodelling/wps/Import_and_Export/Import_OSM.groovy
Labels: enhancement
